doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="css/style.css", rel="stylesheet")
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap' rel='stylesheet')
        title Startup
    body 
        header.header
            .container
                .header__logo Startup
                nav.header__nav
                    a.navlink(href="#") Home
                    a.navlink(href="#") Services
                    a.navlink(href="#") About
                    a.navlink(href="#") Works
                    a.navlink(href="#") Blog
                    a.navlink(href="#") Clients
                    a.navlink(href="#") Contact
            .hero
                h1.hero__title WELCOME TO STARTUP
                p.hero__subtitle Your Favourite Creative Agency Template
                a.hero__btn(href="#") GET STARTED
        main
            section.svgishki
                .container
                .svgishki__top
                    h2.svgishki__title services
                    p.svgishki__subtitle We offer ipsum dolor sit amet, consectetur adipiscing elit amet

                .svgishki__items
                    .svgishki__item
                    .svgishki__icon
                    h3.svgishki__item-title clean typography
                    p.svgishki__text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        | Minima maxime quam architecto quo inventore harum ex magni.

                    .svgishki__item
                    .svgishki__icon
                    h3.svgishki__item-title rock solid code
                    p.svgishki__text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        | Minima maxime quam architecto quo inventore harum ex magni.

                    .svgishki__item
                    .svgishki__icon
                    h3.svgishki__item-title expert support
                    p.svgishki__text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        | Minima maxime quam architecto quo inventore harum ex magni.
